h1 {
  font-family: "Raleway", sans-serif;
  color: #45505b;
}

.grid-container {
  margin: 0 auto;
  padding: 20px;
}

.projects-list {
  display: grid;
  list-style: none;
  grid-gap: 50px;
  padding: 10px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.projects-list p {
  font-family: Verdana, sans-serif;
  color: #45505b;
}

.projects-list h3 {
  font-family: Verdana, sans-serif;
  color: #212529;
}

.project-item {
  margin: 20px 0;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: rgb(235, 235, 240);
}

.project-item:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  background-color: rgb(255, 179, 64);
}

.project-item a {
  display: block;
  margin-top: 10px;
  text-decoration: none;
  color: rgb(69, 79, 224);
  font-weight: bold;
  transition: color 0.3s ease;
}

.project-item a:hover {
  color: #2980b9;
}

.about-me {
  font-size: 1.1rem;
  font-family: "Comic Sans MS", cursive;
  margin-left: 5%;
  margin-right: 5%;
  --s: 0.1em;
  --c: #542a2c;

  color: #0000;
  padding-bottom: var(--s);
  background: linear-gradient(90deg, var(--c) 50%, #000 0)
      calc(100% - var(--_p, 0%)) / 200% 100%,
    linear-gradient(var(--c) 0 0) 0% 100% / var(--_p, 0%) var(--s) no-repeat;
  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
  transition: 1.5s;
}

.about-me:hover {
  --_p: 100%;
}

.view-project{
  font-size: 1.1rem;
  font-family: "Comic Sans MS", cursive;
  margin-left: 5%;
  margin-right: 5%;
  --s: 0.1em;
  --c: #542a2c;

  color: #0000;
  padding-bottom: var(--s);
  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
}

.view-project:hover {
  --_p: 100%;
}
